/* Reset styles by Aleksei Alekseev (alexey_alexeev@bk.ru)*/
html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic */
body {
    margin: 0 auto;
    font: 16px Arial;
    background: #fff;
    color: #272727;
}
.page-wrapper {position: relative; z-index: 100;}
header {
    vertical-align: middle;
    background: rgba(34,205,211,0.9);
    width: 100%;
    height: 50px;
    position: relative;
    top: 0px;
    z-index: 1000;
}
.page {width: 100%; min-height: 100vh;}
.nav {
    width: 220px;
    background: #242f33;
    vertical-align: top;
    padding-top: 50px;
}
.content {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 80px;
    vertical-align: top;
}
nav {margin-top: 20px;}
nav a {
    display: block;
    color: #fff;
    padding: 16px 0px;
    padding-left: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}
nav a:hover {
    background: #1e2528;
}
.logo {
    display: inline-block;
    width: 220px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.online {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    color: #fff;
}
.prize-block {
    display: inline-block;
    vertical-align: top;
    width: 250px;
    margin-right: 100px;
    font: 14px Arial;
}
.competition-table {margin-top: 20px;}
.competition-table td {padding: 7px 0px;}
.competition-input {
    font: 14px Arial;
    color: #979797;
    border: 1px solid #dbdbdb;
    width: 170px;
    padding: 10px;
}
.submit {
    font: 18px Arial;
    width: 140px;
    padding: 7px 0px;
    background: #ededed;
    border: 1px solid #82898b;
    cursor: pointer;
}
.search-input {
    font: 14px 'PTSansRegular';
    color: #242f33;
    background: #f7f7f7;
    border: 1px solid #dbdbdb;
    width: 480px;
    padding: 10px;
}
.search-submit {
    font: 16px 'PTSansRegular';
    color: #22cdd3;
    width: 110px;
    padding: 9px 0px;
    background: #f7f7f7;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    margin-left: 8px;
}
.font20 {font-size: 20px;}
.font14 {font-size: 14px;}
.user-table {width: 100%;}
.user-table th {
    padding: 10px 0px;
    font: 16px 'PTSansRegular';
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
}
.user-table td {
    padding: 10px 0px;
    font: 14px 'PTSansRegular';
    border-bottom: 1px solid #d9d9d9;
    text-align: left;
}
.shop-filter {
    padding: 0px;
    font: 24px 'PTSansRegular';
    color: #22cdd3;
    text-align: left;
}
.filter-text {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0px;
}
.pagination {
    font: 16px 'PTSansRegular';
    display: inline-block;
    margin-top: 10px;
    float: right;
    font-weight: bold;
}
.pagination a {
    text-decoration: none;
    color: #272727;
    margin-left: 3px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.pagination a:hover {
    color: #29c3df;
}
.user-ava {
    width: 24px;
    height: 24px;
    -webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
    margin-right: 6px;
    margin-top: -4px;
    vertical-align: middle;
}
.skin-img {
    width: 43px;
    height: 19px;
    margin-right: 6px;
    margin-top: -4px;
    vertical-align: middle;
}
.td-right {text-align: right !important;}
.edit-price {
    color: #272727;
    text-decoration: none;
}
.dashboard-info td {padding-right: 60px; padding-bottom: 20px; font: 16px 'PTSansRegular'; color: #272727;}
.d-info-number {color: #3ecfff;}
.btn-settings {font: 24px 'PTSansRegular'; color: #272727;}
.d-buttons {margin-top: 20px; text-align: left;}
.d-buttons th {font: 24px 'PTSansRegular'; color: #00baff; padding-bottom: 20px;}
.d-buttons td {font: 18px 'PTSansRegular'; padding-bottom: 10px;}
.dashboard-input {
    font: 16px 'PTSansRegular';
    color: #242f33;
    background: #f8f8f8;
    border: 1px solid #cfcfcf;
    width: 120px;
    padding: 5px 10px;
    margin-left: 10px;
    margin-right: 80px;
}
.dashboard-submit {
    font: 18px 'PTSansRegular';
    color: #fff;
    width: 180px;
    padding: 7px 0px;
    background: #28c3ef;
    cursor: pointer;
    -webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    border: none;
}
.graf-block {
    padding-left: 100px;
}
.graf {
    width: 250px;
    border-collapse: separate;
    border-spacing: 0px 10px;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.graf td {height: 15px;}
.graf-col {
    position: relative;
    height: 15px;
    background: #cacaca;
    cursor: pointer;
}
.graf-col:hover {
    background: #242f33;
}
.graf-tooltip {
    display: none;
    position: absolute;
    background: #fff;
    width: 170px;
    border: 1px solid #dcdede;
    top: 105px;
    right: -81px;
    padding: 5px 10px;
    -moz-transform: rotate(90deg); /* Ð”Ð»Ñ Firefox */
    -ms-transform: rotate(90deg); /* Ð”Ð»Ñ IE */
    -webkit-transform: rotate(90deg); /* Ð”Ð»Ñ Safari, Chrome, iOS */
    -o-transform: rotate(90deg); /* Ð”Ð»Ñ Opera */
    transform: rotate(90deg);
    z-index: 2000;
}
.graf-col:hover .graf-tooltip {display: block;}
.graf-info td {padding: 2px 5px; font: 14px 'MyriadProRegular'; color: #272727;}
.g-info-number {color: #3ecfff; text-align: center; padding-bottom: 5px;}
.g-info-profit span {color: #3ecfff;}
.graf-title {
    padding-left: 100px;
    padding-top: 30px;
    width: 310px;
    font: 24px 'PTSansRegular';
    text-align: center;
}
/* Fonts*/
/* font-family: "PTSansRegular"; */
@font-face {
    font-family: "PTSansRegular";
    src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot");
    src: url("../fonts/PTSans/PTSansRegular/PTSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSans/PTSansRegular/PTSansRegular.woff") format("woff"),
    url("../fonts/PTSans/PTSansRegular/PTSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansItalic"; */
@font-face {
    font-family: "PTSansItalic";
    src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot");
    src: url("../fonts/PTSans/PTSansItalic/PTSansItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSans/PTSansItalic/PTSansItalic.woff") format("woff"),
    url("../fonts/PTSans/PTSansItalic/PTSansItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "PTSansBold"; */
@font-face {
    font-family: "PTSansBold";
    src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot");
    src: url("../fonts/PTSans/PTSansBold/PTSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PTSans/PTSansBold/PTSansBold.woff") format("woff"),
    url("../fonts/PTSans/PTSansBold/PTSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}