/* Reset styles by Aleksei Alekseev (alexey_alexeev@bk.ru)*/
html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Basic */
body {
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
    min-width: 1280px;
    background: url('../images/bg.jpg') repeat-x;
    background-size: 100% 100%;
    background-color: #181816;
    font: 14px "Roboto";
    color: #fff;
}
header {
    width: 100%;
    height: 91px;
    background: url('../images/menu-bg.png') no-repeat;
    background-color: #191919;
    background-size: 100% 100%;
    border-bottom: 2px solid rgb(0,173,238);
}
.menu-block {
    margin: 0 auto;
    width: 1240px;
}
.menu {
    display: inline-block;
    vertical-align: top;
    margin: 26px 40px 41px 40px;
    font: 18px "Roboto Medium";
    color: #323232;
    text-decoration: none;
}
.menu:hover {
    color: #fff;
    -webkit-transition: color 700ms;
    -moz-transition: color 700ms;
    -o-transition: color 700ms;
    transition: color 700ms;
}
.logo {
    display: inline-block;
    vertical-align: top;
    margin: 13px 200px 0px -40px;
}
.logo img {
    width: 200px;
}
.login {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 26px 62px;
}
.h-profile {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px 26px 0px;
}
.h-profile-ava {
    width: 50px;
    height: 50px;
}
.h-profile-nick {
    width: 99px;
    height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 10px;
    text-align: center;
}
.h-profile-btn {margin: 0px 10px;}
.content {
    width: 1240px;
    margin: 40px auto;
}
.sidebar {
    display: table-cell;
    vertical-align: top;
    width: 185px;
}
.wrapper {
    display: table-cell;
    vertical-align: top;
    width: 810px;
    padding: 0px 30px;
}
.chat-block {
    display: table-cell;
    vertical-align: top;
    width: 185px;
}
.chat {
    height: 350px;
    margin-top: 10px;
}
.chat-msg-block {
    margin-bottom: 15px;
}
.chat-ava {
    display: inline-block;
    vertical-align: top;
    width: 35px;
    height: 35px;
    margin-right: 5px;
}
.chat-msg {
    display: inline-block;
    vertical-align: top;
}
.chat-nick {
    width: 97px;
    font: 10px "Roboto Bold";
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-text {
    width: 97px;
    font: 10px "Roboto Light";
    word-break: break-word;
}
.chat-input {
    margin-top: 15px;
}
.chat-input textarea {
    width: 140px;
    height: 40px;
    padding: 10px 5px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
    font: 10px "Roboto";
    color: #fff;
    -webkit-appearance: none;
    outline: none;
    resize: none;
}
.chat-send {
    margin-top: 5px;
    text-align: right;
    cursor: pointer;
}
.moderator-image {
    width: 20px;
    height : 20px;
    margin-bottom: -5px;
}
.moderator-link {
    color: #00ADEE;
    margin-right: 5px;
}
.chat-input textarea::-webkit-input-placeholder {color: #fff;}
.chat-input textarea::-moz-placeholder {color: #fff;}
.chat-input textarea:-moz-placeholder {color: #fff;}
.chat-input textarea:-ms-input-placeholder {color: #fff;}
.last-winner-ava {
    width: 65px;
    height: 65px;
    margin-right: 20px;
}
.last-winner table {
    margin: 15px auto;
    text-align: left;
}
.last-winner table td {
    vertical-align: top;
}
.last-winner-name {
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.stat {
    display: inline-block;
    vertical-align: top;
    margin: 0px 25px;
}
.timer {
    padding: 5px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
}
.colon {
    margin: 0px 3px;
}
.green-btn {
    padding: 10px 30px;
    background: rgba(41,229,50,0.65);
    border: 2px solid rgb(41,229,50);
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.join-game {
    padding: 9px 30px 8px 30px;
    margin-left: 20px;
    background: rgba(0,173,238,0.65);
    border: 2px solid rgb(0,173,238);
    text-align: center;
}
.game-number {
    margin-top: -10px;
    margin-bottom: 40px;
}
.players {
    width: 746px;
    height: 90px;
    white-space: nowrap;
}

.players2 {
    width: 479px;
    height: 138px;
}
.player {
    position: relative;
    margin: 0px 10px;
}
.player img {
    width: 70px;
    height: 70px;
}
.chance {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 70px;
    padding: 2px 0px;
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.chance2 {
    position: absolute;
    bottom: 4px;
    left: 0px;
    width: 80px;
    padding: 2px 0px;
    background: rgba(0,0,0,0.4);
    text-align: center;
}
.pot-img {
    width: 90px;
    height: 75px;
}
.pot-ava {
    width: 52px;
    height: 52px;
    margin-right: 85px;
    vertical-align: middle;
}
.pot-text {
    width: 420px;
}
.pot-num {
    position: absolute;
    top: 35px;
    right: 20px;
    width: 60px;
    padding: 5px 0px;
    background: rgba(0,173,238,0.65);
    border: 2px solid rgb(0,173,238);
    text-align: center;
}
.game-winner {
    position: absolute;
    top: 20px;
    right: 30px;
    font: 16px "Gidole Regular";
    text-align: right;
}
.game-begun {
    background: rgba(0,173,238,0.65);
    border: 2px solid rgb(0,173,238);
}
.history-number {
    position: absolute;
    top: 40px;
    right: 40px;
}
.history-pots {
    width: 720px;
    margin: 0 auto;
}
.history-pot {
    position: relative;
}
.history-pot img {
    width: 80px;
    height: 65px;
}
footer {
    padding-top: 10px;
    padding-bottom: 45px;
    font: 14px "Roboto";
    color: #353535;
    text-align: center;
    text-transform: uppercase;
}
.settings {
    width: 100%;
}
.settings td:nth-child(2n+1) {
    width: 170px;
}
.settings tr:nth-child(n+1) td {
    padding-bottom: 30px;
}
.settings-input {
    height: 20px;
    padding: 5px 10px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
    font: 16px "Roboto Medium";
    color: #fff;
    -webkit-appearance: none;
    outline: none;    
}
.settings-sound {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 8px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
    font: 16px "Roboto Medium";
    color: #fff;
    cursor: pointer;
    opacity: 0.35;
}
.settings-sound:hover {opacity: 1;}
.leaders-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 16px;
    margin-left: 10px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
    font: 16px "Roboto Medium";
    color: #fff;
    cursor: pointer;
    opacity: 0.35;
}
.leaders-btn:hover {opacity: 1;}
.opacity1 {opacity: 1;}
.leaders-table {
    width: 720px;
    font: 16px "Roboto Medium";
    color: #fff;
}
.leaders-table td:nth-child(1) img {
    display: inline-block;
    vertical-align: middle;
    width: 37px;
    height: 37px;
    margin-right: 20px;
    margin-top: -4px;
}
.leaders-table td {text-align: center; padding: 10px 0px;}
.leaders-table td:nth-child(1) {width: 270px; text-align: left;}
.leaders-table td:nth-child(2) {width: 190px;}
.leaders-table td:nth-child(3) {width: 160px;}
.leaders-table td:nth-child(4) {width: 100px;}
.leaders-nick {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* Progressbar */
.progress-bar {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 500px;
    height: 38px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
    text-align: left;
}
.progress-bar span {
    display: inline-block;
    height: 42px;
    margin-top: -2px;
    background-color: rgb(0,173,238); 
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
    -webkit-background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    background-size: 30px 30px;			
    background-image: -webkit-gradient(linear, left top, right bottom,
                        color-stop(.25, rgba(255, 255, 255, .15)), color-stop(.25, transparent),
                        color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .15)),
                        color-stop(.75, rgba(255, 255, 255, .15)), color-stop(.75, transparent),
                        to(transparent));
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
    background-image: -moz-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
    background-image: -ms-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
    background-image: -o-linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                        transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                        transparent 75%, transparent);            
    -webkit-animation: animate-stripes 3s linear infinite;
    -moz-animation: animate-stripes 3s linear infinite;
}
@-webkit-keyframes animate-stripes { 
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
@-moz-keyframes animate-stripes {
    0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}
.progress-text {
    position: absolute;
    top: 5px; left: 0px;
    width: 500px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.35);
    text-align: center;
}
/* Roulette */
.roulette {position: relative; width: 746px; height: 120px; padding-top: 20px; overflow: hidden;}
.r-images img {width: 82px; height: 82px; margin-top: 9px; margin-right: 6px;}
.r-images {position: relative; width: 8800px; height: 100px; left: -20px; z-index: 100;}
.stop-line {position: absolute; top: 10px; left: 371px; height: 120px; width: 3px; background: #00adee; z-index: 200;}
/* Additionally */
.inlineb {display: inline-block; vertical-align: middle;}
.center {text-align: center;}
.table {display: table; width: 100%;}
.bold {font-family: "Roboto Bold";}
.table-cell {display: table-cell; vertical-align: middle;}
.w96 {width: 96px;}
.w250 {width: 250px;}
.w530 {width: 530px;}
.w666 {width: 666px;}
.h100 {height: 100px;}
.h150 {height: 150px;}
.h500 {height: 500px;}
.rm10 {font: 10px "Roboto Medium";}
.rm12 {font: 12px "Roboto Medium";}
.rm16 {font: 16px "Roboto Medium";}
.rm21 {font: 21px "Roboto Medium";}
.rm50 {font: 50px "Roboto Medium";}
.rb12 {font: 12px "Roboto Bold";}
.rb16 {font: 16px "Roboto Bold";}
.rb21 {font: 21px "Roboto Bold";}
.rb26 {font: 26px "Roboto Bold";}
.r10 {font: 10px "Roboto";}
.r12 {font: 12px "Roboto";}
.r14 {font: 14px "Roboto";}
.pr30 {padding-right: 30px;}
.p15 {padding: 15px;}
.p20 {padding: 20px;}
.p30 {padding: 30px;}
.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb21 {margin-bottom: 21px;}
.mt15 {margin-top: 15px;}
.ml20 {margin-left: 20px;}
.mb30 {margin-bottom: 30px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}
.ml40 {margin-left: 40px;}
.mr40 {margin-right: 40px;}
.lh20 {line-height: 2.0;}
.lh15 {line-height: 1.5;}
.lh07 {line-height: 0.7;}
.lh09 {line-height: 0.9;}
.up {text-transform: uppercase;}
.fblue {color: #00adee;}
.f0 {font-size: 0px;}
.relative {position: relative;}
/* Blocks */
.white-block {
    background: rgba(255,255,255,0.1);
    border: 2px solid #fff;
}
.blue-block {
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
}
.box-pot {
    position: relative;
    background: rgba(255,255,255, 0.5);
    border: 2px solid rgb(255,255,255);
}
.common-pot {
    position: relative;
    background: rgba(69,76,85,0.25);
    border: 2px solid rgb(69,76,85);
}
.uncommon-pot {
    position: relative;
    background: rgba(37,60,80,0.25);
    border: 2px solid rgb(37,60,80);
}
.rare-pot {
    position: relative;
    background: rgba(29,41,100,0.25);
    border: 2px solid rgb(29,41,100);
}
.mythical-pot {
    position: relative;
    background: rgba(53,28,100,0.25);
    border: 2px solid rgb(53,28,100);
}
.legendary-pot {
    position: relative;
    background: rgba(83,17,90,0.25);
    border: 2px solid rgb(83,17,90);
}
.ancient-pot {
    position: relative;
    background: rgba(92,29,29,0.25);
    border: 2px solid rgb(92,29,29);
}
.exceedingly-pot {
  position: relative;
  background: rgba(100,84,0,0.25);
  border: 2px solid rgb(100,84,0);  
}
/* Borders */
.red-b {border: 2px solid rgb(255,0,0);}
.yellow-b {border: 2px solid rgb(255,242,0);}
.blue-b {border: 2px solid rgb(28,54,210);}
.violet-b {border: 2px solid rgb(255,0,255);}

.box-b {border: 2px solid rgb(255,255,255);}
.common-b {border: 2px solid rgb(69,76,85);}
.uncommon-b {border: 2px solid rgb(37,60,80);}
.rare-b {border: 2px solid rgb(29,41,100);}
.mythical-b {border: 2px solid rgb(53,28,100);}
.legendary-b {border: 2px solid rgb(83,17,90);}
.ancient-b {border: 2px solid rgb(92,29,29);}
.exceedingly-b {border: 2px solid rgb(100,84,0);}
/* Pop-up */
.popup {
    width: 770px;
    padding: 20px;
    background: rgba(31,117,246,0.12);
    border: 2px solid rgb(0,173,238);
}
#lean_overlay {
    position: fixed;
    z-index: 2000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #191919;
    display: none;
}
.close {
    cursor: pointer;
}


/* This is the default Tooltipster theme (feel free to modify or duplicate and create multiple themes!): */
.tooltipster-default {
	background: #202b34;
	color: #fff;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-default .tooltipster-content {
	font-family: 'Roboto B';
	font-size: 13px;
	line-height: 35px;
	padding: 0 15px;
	overflow: hidden;
}

/* This next selector defines the color of the border on the outside of the arrow. This will automatically match the color and size of the border set on the main tooltip styles. Set display: none; if you would like a border around the tooltip but no border around the arrow */
.tooltipster-default .tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}


/* If you're using the icon option, use this next selector to style them */
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}








/* This is the base styling required to make all Tooltipsters work */
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-base .tooltipster-content {
	overflow: hidden;
}


/* These next classes handle the styles for the little arrow attached to the tooltip. By default, the arrow will inherit the same colors and border as what is set on the main tooltip itself. */
.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0; 
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -7px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -7px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -7px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -7px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -7px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important; 
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -7px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important; 
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4); 
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15); 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}


/* CSS transition for when contenting is changing in a tooltip that is still open. The only properties that will NOT transition are: width, height, top, and left */
.tooltipster-content-changing {
	opacity: 0.5;
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}



/* Fonts*/
@font-face {
    font-family: "Roboto";
    src: local("Roboto"), local("Roboto-Regular"), url('../fonts/roboto/roboto.woff2') format('woff2'), url('../fonts/roboto/roboto.woff') format('woff'), url('../fonts/roboto/roboto.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Medium";
    src: url('../fonts/roboto/RobotoMedium.eot');
    src: url('../fonts/roboto/RobotoMedium.eot?#iefix')format("embedded-opentype"),
    url('../fonts/roboto/RobotoMedium.woff') format("woff"),
    url('../fonts/roboto/RobotoMedium.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Light";
    src: local("Roboto Light"), local("Roboto-Light"), url('../fonts/roboto/robotolight.woff2') format('woff2'), url('../fonts/roboto/robotolight.woff') format('woff'), url('../fonts/roboto/robotolight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Thin";
    src: local("Roboto Thin"), local("Roboto-Thin"), url('../fonts/roboto/robotothin.woff2') format('woff2'), url('../fonts/roboto/robotothin.woff') format('woff'), url('../fonts/roboto/robotothin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Bold";
    src: local("Roboto Bold"), local("Roboto-Bold"), url('../fonts/roboto/robotobold.woff2') format('woff2'), url('../fonts/roboto/robotobold.woff') format('woff'), url('../fonts/roboto/robotobold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Roboto Black";
    src: url('../fonts/roboto/Roboto-Black.eot?') format("eot"),url('../fonts/roboto/Roboto-Black.woff') format("woff"),
url('../fonts/roboto/Roboto-Black.ttf') format("truetype"),url('../fonts/roboto/Roboto-Black.svg#Roboto-Black') format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gidole Regular";
    src: url('../fonts/gidole/Gidole-Regular.eot?') format("eot"),url('../fonts/gidole/Gidole-Regular.woff') format("woff"), url('../fonts/gidole/Gidole-Regular.ttf') format("truetype"), url('../fonts/gidole/Gidole-Regular.svg#Gidole-Regular') format("svg");
    font-weight: normal;
    font-style: normal;
}